<template>
  <ul class="list" v-if="notFound === false">
    <li class="items" v-for="product, key in products">
      <router-link :to="{name:'Detail', query:{id:product.id, name: product.name, price: product.price, imgurl: product.imgurl}}">
        <HighlightText :text="product.html || product.name"/>
        <span class="price">{{product.price}}</span>
      </router-link>
    </li>
  </ul>
  <span class="msg" v-else>Not Found</span>
</template>

<script>
import HighlightText from './HighlightText'

export default {
  name: 'product',
  computed: {
    products () {
      return (this.$store.state.editproducts.length > 0) ? this.$store.state.editproducts : this.$store.state.products
    },
    notFound () {
      return this.$store.state.notFound
    }
  },
  components: {
    HighlightText
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .msg {
    display: block;
    margin-top: 20px;
  }
</style>
