<template>
	<div id="searchUser" class="container-search">
		<input @keyup="searchProduct" type="text" v-model="key" placeholder="Search Product" class="form-control">
		<span class="icon-search fa fa-search"></span>
	</div>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      key: '',
      cr: this.$store.state.products
    }
  },
  computed: {
    products () {
      return this.$store.state.products
    }
  },
  methods: {
    searchProduct () {
      let results = this.products.filter((item) => {
        let keys = this.key.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
        let reg = new RegExp(keys, 'i')
        item.html = item.name.replace(reg, '<span style="color:#1c69d4">$&</span>')
        return reg.test(item.name)
      })
      if (results.length < 1 && this.key !== '') {
        this.$store.state.notFound = true
      } else {
        this.$store.state.notFound = false
      }
      this.$store.dispatch('setProducts', results)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
