<template>
  <div class="container">
    <search :products="products" @search-product="search"></search>
    <product :products="theProducts" :status="status"></product>
  </div>
</template>

<script>
import Product from '../components/Product'
import Search from '../components/Search'
import { request } from '../utils'
export default {
  name: 'list',
  data () {
    return {
      products: [],
      searchResult: [],
      status: false
    }
  },
  components: {
    Product,
    Search
  },
  computed: {
    theProducts () {
      return (this.searchResult.length > 0) ? this.searchResult : this.products
    }
  },
  methods: {
    search (res) {
      this.searchResult = res
      this.status = res.status
    }
  },
  created () {
    request('api/products', 'GET').then((res) => {
      this.products = res.data
    })
  }
}
</script>

<style>

</style>
