<template>
  <div class="detail container" v-if="Object.keys(product).length > 3">
    <h1 class="name">{{product.name}}</h1>
    <img :src="product.imgurl" :alt="product.name">
    <span class="price">{{product.price}}</span>
  </div>
  <div class="detail container" v-else>
    <h1>404</h1>
  </div>
</template>

<script>
// import { request } from '../utils'
export default {
  name: 'detail',
  data () {
    return {
      apiUri: this.$store.state.apiUri,
      product: this.$route.query
    }
  },
  created () {
    // request(this.apiUri, 'GET').then((res) => {
    //   this.$store.state.products = res.data
    //   res.data.find((val, key) => {
    //     if (val.id === this.$route.query.id) {
    //       this.product = val
    //     }
    //   })
    // })
  }
}
</script>

<style scoped lang="less">
  #app {
    .container {
      &.detail {
        padding-bottom: 70px;
        background-color: #ffffff;
      }
    }
  }
  .detail {
    text-align: center;
    h1 {
      font-size: 30px;
    }
    .price {
      border-radius: 100px;
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
      background-color: #1c69d4;
      padding: 20px 50px;
    }
    img {
      margin: 80px auto;
      max-width: 200px;
      display: block;
      width: 100%;
    }
  }
  @media(min-width: 728px) {
    .detail {
      h1 {
        font-size: 52px;
      }
    }
  }
</style>
