<template>
  <div class="container">
    <search></search>
    <product></product>
  </div>
</template>

<script>
import Product from '../components/Product'
import Search from '../components/Search'
import { request } from '../utils'
export default {
  name: 'list',
  data () {
    return {
      products: this.$store.state.products,
      apiUri: this.$store.state.apiUri
    }
  },
  components: {
    Product,
    Search
  },
  created () {
    request(this.apiUri, 'GET').then((res) => {
      this.$store.state.products = res.data
      this.products = this.$store.state.products
    })
  }
}
</script>

<style>

</style>
